
<template>
  <div>
    <h1>Blog</h1>
    <hr />
    <a href="http://madjugglers.blogspot.com/">http://madjugglers.blogspot.com/</a>
    <br />
    <b-spinner v-show="loading" label="Loading..."></b-spinner>
    <div v-show="!loading">
      <div v-for="(post, index) in posts" :key="index">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <div v-html="post.content"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>


<script>
import axios from 'axios'
import { mapGetters } from 'vuex'

export default {
  data() {
    return {
      title: 'List of posts',
      posts: []
    }
  },
  computed: mapGetters({
    loading: 'loading/loading'
  }),
  created() {
    this.getPosts()
  },
  methods: {
    getPosts() {
      this.$store.commit('loading/setLoading', true)
      axios
        .get(`${process.env.functions}/blog`, {
          headers: {
            Accept: 'application/json'
          }
        })
        .then(res => {
          this.$store.commit('loading/setLoading', false)
          this.posts = res.data.posts
        })
        .catch(err => {
          this.$store.commit('loading/setLoading', false)
          console.log(err)
        })
    }
  }
}
</script>

<style scoped>
.container {
  width: 70%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
ul {
  list-style-type: none;
  padding: 0;
}
ul li {
  border: 1px #ddd solid;
  padding: 20px;
  text-align: left;
}
ul li a {
  color: gray;
}
p {
  font-size: 20px;
}
a {
  color: #41b883;
}
</style>
