<template>
  <b-list-group-item
    class="flex-column align-items-start border border-primary"
  >
    <div class="d-flex w-100 justify-content-between">
      <p class="mb-1 text-primary">{{ source.title }}</p>
      <!-- <span class="badge badge-primary">{{formatDate(event.date)}}</span> -->

      <small class="text-primary">{{ formatDate(source.date) }}</small>
    </div>
  </b-list-group-item>
</template>

<script>
import moment from 'moment-mini'

export default {
  props: {
    source: {
      type: Object,
      default() {
        return {}
      },
    },
  },
  methods: {
    formatDate(date) {
      return moment.utc(date).local().format('MM/DD/YYYY')
      //return moment.utc(date).local().format()
    },
  },
}
</script>