<template>
  <div class="bg-primary">
    <!-- loading spinner -->

    <b-spinner v-show="loading" label="Loading..."></b-spinner>

    <b-card v-show="!loading" no-body>
      <b-list-group flush>
        <virtual-list 
          style="height: 400px; overflow-y: auto;"
          :data-key="'date'"
          :data-sources="events"
          :data-component="CalendarItem"
          :estimate-size="25" 
          :remain="8"
          >
          
        </virtual-list>
      </b-list-group>
    </b-card>
  </div>
</template>

<script>
import axios from 'axios'
import { mapGetters } from 'vuex'
import virtualList from 'vue-virtual-scroll-list'
import CalendarItem from '../components/CalendarItem.vue'

export default {
  components: { 'virtual-list': virtualList },
  data() {
    return {
      title: 'Upcoming Events',
      events: [		  	  
	  ],
      CalendarItem: CalendarItem
    }
  },
  computed: mapGetters({
    loading: 'loading/loading'
  }),
  created() {
    this.getEvents()
  },
  methods: {
    getEvents() {
      this.$store.commit('loading/setLoading', true)

      axios
        .get(`${process.env.functions}/calendar`, {
          headers: {
            Accept: 'application/json'
          }
        })
        .then(res => {
          this.$store.commit('loading/setLoading', false)
          this.events = res.data.events
        })
        .catch(err => {
          this.$store.commit('loading/setLoading', false)
          console.log(err)
        })
    }
  }
}
</script>

<style>
</style>