<template>
  <div id="map-wrap" style="height: 100vh; max-height:400px">
    <no-ssr>
      <l-map :zoom="13" :center="[43.0817,-89.3704]" lazy>
        <l-tile-layer url="https://{s}.tile.osm.org/{z}/{x}/{y}.png"></l-tile-layer>
        <l-marker :lat-lng="[43.07540,-89.39906]">
          <l-tooltip :options="{ permanent: true}">Library Mall</l-tooltip>
        </l-marker>
        <l-marker :lat-lng="[43.07303,-89.41451]">
          <l-tooltip :options="{ permanent: true}">First United Church of Christ</l-tooltip>
        </l-marker>
        <l-marker :lat-lng="[43.094391,-89.354118]">
          <l-tooltip :options="{ permanent: true}">Madison Circus Space</l-tooltip>
        </l-marker>
      </l-map>
    </no-ssr>
  </div>
</template>
<style>
.leaflet-tooltip {
  padding: 0px !important;
}

.__vev_calendar-wrapper .cal-wrapper {
  padding: 25px 50px;
}
</style>
