
<template>
  <section class="container">
    <Blog />
  </section>
</template>

<script>
import Blog from '../components/Blog.vue'

export default {
  components: { Blog },
  head() {
    return {
      title: 'Blog'
    }
  }
}
</script>