
<template>
<section class="container-fluid">  
  <Calendar></Calendar>
</section>
</template>

<script>
import Calendar from '../components/Calendar.vue'

export default {
  components: { Calendar },
  head (){
    return {
      title: "Calendar"
    };
  }
}
</script>