<template>
  <section class="container">
    <div class="m-3">
      <h1>Contact Us</h1>
      <hr />
      <b-form @submit.stop.prevent="onSubmit">
        <b-form-group
          id="emailInputGroup"
          label="Email address:"
          label-for="email"
          description="We will respond to you at this address"
        >
          <b-form-input
            id="email"
            v-model="contactForm.email"
            type="email"
            required
            placeholder="Enter email"
          />
        </b-form-group>

        <b-form-group id="subjectInputGroup" label="Subject:" label-for="subject">
          <b-form-input
            id="subject"
            v-model="contactForm.subject"
            type="text"
            required
            placeholder="Email Subject"
          />
        </b-form-group>
        <div class="invisible">
          <b-form-group id="hemailInputGroup" label="Subject:" label-for="hemail" vis>
            <b-form-input
              id="hemail"
              v-model="contactForm.hemail"
              type="text"
              placeholder="Email Subject"
            />
          </b-form-group>
        </div>
        <b-form-group id="messageInputGroup" label="Message:" label-for="message">
          <b-form-textarea
            id="message"
            v-model="contactForm.message"
            :rows="5"
            required
            placeholder="Email Message"
          />
        </b-form-group>

        <b-button :disabled="loading" type="submit" variant="primary">
          <span
            v-show="loading"
            class="spinner-border spinner-border-sm"
            role="status"
            aria-hidden="true"
          ></span>
          Submit
        </b-button>
      </b-form>
    </div>
  </section>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  data() {
    return {
      contactForm: {
        email: '',
        subject: '',
        message: '',
        hemail: ''
      }
    }
  },
  computed: mapGetters({
    loading: 'loading/loading'
  }),
  methods: {
    submitToServer() {
      return new Promise((resolve, reject) => {
        this.$store.commit('loading/setLoading', true)
        fetch(`${process.env.functions}/mail`, {
          method: 'POST',
          body: JSON.stringify(this.contactForm)
        })
          .then(response => {
            this.$store.commit('loading/setLoading', false)
            console.log(response)
            resolve(response)
          })
          .catch(err => {
            this.$store.commit('loading/setLoading', false)
            reject(err)
          })
      })
    },
    onSubmit() {
      this.submitToServer().then(response => {
        const body = response.json()
        if (Number(response.status) !== 200) {
          console.log('Error submitting the form.')
        } else {
          console.log('Form was submitted!')
          this.$router.push({ name: 'contactSuccess' })
        }
      })
    }
  },
  head() {
    return {
      title: 'Contact'
    }
  }
}
</script>

<style>
.invisible {
  visibility: hidden;
  height: 0em;
}
</style>