<template>
  <section class="container">
    <div>
      <h1 class="title">Thank you!</h1>
      <p>Your message has been successfully sent. We will contact you soon.</p>
    </div>
  </section>
</template>

<script>
export default {
  head() {
    return {
      title: 'Contact Success'
    }
  }
}
</script>
