<template>
  <section class="container-fluid">
    <div class="row">
      <div class="col col-lg 6">
        <div class="mt-3 mx-3 mb-5">
          <h1>Gigs</h1>
          <hr>
          <h2>Booking Gigs with the MAJ</h2>

          <p>Interested in contacting us about performing in a show or event? We'd love to hear from you!</p>

          <p>Our club is open to anyone and everyone who shares an interest in juggling and other circus arts. We are a mix of college students and Madison residents who get together twice a week to throw clubs at each other. Currently our club consists of a fair number of avid hobbyists honing their skills, but our members have a wide range of skills. Some of us are beginners, but a few of us work as professional entertainers, occasionally or regularly.</p>

          <p>Many of us perform regularly in the 47th annual Madfest Juggling Extravaganza, right here in Madison, as well as in other juggling festivals and special events throughout the year. Most of us also dabble in other circus-related arts and bizarre talents including plate or top spinning, poi, German wheel, unicycling, diabolo, and other object manipulation, etcetera, etcetera.</p>

          <p>We may not always be available to perform, as most of our group balances juggling with work, family, and school. But it's always worth asking!</p>
          <p>
            If you'd like some of us to perform for you, please answer the following through our <a
                href="../contact"
              >Contact</a> page.
          </p>

          <h2>Tell Us About Your Event!</h2>
          <p>
            Please consider the following and use our
            <a
                href="../contact"
              >Contact</a> page:
          </p>

          <ul>
            <li>What are the address, date, time and name of the event?</li>
            <li>What's your budget like?</li>
            <li>How many performers are you looking for?</li>
            <li>Indoors or outdoors?</li>
            <li>Is it a stage show, or a walk-around gig? ("Walk-around" means you want jugglers juggling in the background, or moving from table to table, or roaming, rather than a formal stage act.)</li>
            <li>How long of a performance are you looking for? How many shows or acts?</li>
            
          </ul>

          <p>Thanks so much for your interest, and we hope we can put on a good show!</p>
        </div>
      </div>
      <div class="d-none d-lg-block col col-lg-6 m-0">
      <b-img-lazy :srcset="require('~/static/Images/MadfestShow.jpg').srcSet" src="~/static/Images/MadfestShow.jpg"   alt="Madfest Performance" fluid></b-img-lazy>
    </div>
    </div>

    
  </section>
</template>

<script>
export default {
  head() {
    return {
      title: 'Gigs'
    }
  }
}
</script>
