<template>
  <section class="container-fluid">
    <div class="row mb-3">
      <div class="col col-lg-6">
        <div class="m-3">
          <h1>Home</h1> 
          <hr />
          <p>Welcome to the Madison Area Jugglers! We are a juggling club based in Madison Wisconsin. If you are interested in juggling, unicycling, other object manipulation, balance, or performance skills, please stop by and join us. We'd love to meet you!</p>

          <p>The Madison Area Jugglers is open to everyone. We are a very informal group, with no dues, membership restrictions, age requirements, or attendance records. In other words, we're just a bunch of folks who like to get together and throw things.</p>
          <hr />
          <h2>About the MAJ</h2>
          <ul>
            <li>
              
              If you would like to join the MAJ simply come to one of our <a href="meetings">Regular Meetings</a>
            </li>
            <li>If you would like to hear about special events join our <a
                href="https://gaggle.email/join/madisonareajugglers@gaggle.email"
              >Email List</a>
            </li>
            <li>
              If you just want to get a message to the MAJ use our 
              <a
                href="contact"
              >Contact Page</a>
            </li>
            <li>
              If you would like to engage us for a performance, see the
              <a href="gigs">Booking Gigs</a> page.
            </li>
          </ul>

          <hr />
          <h2>
            The MAJ Pattern Book 
          </h2>
          <p>
            The
            <a href="majpatternbook">Madison Area Jugglers Pattern Book</a> is a vast compilation of club passing patterns ranging in difficulty and number of jugglers. It represents some of the club passing patterns the MAJ does on a weekly basis.
          </p>
        </div>
      </div>
      <div class="d-none d-lg-block col col-lg-6 m-0">
        <b-img-lazy :srcset="require('~/static/Images/JugglersLibraryMall.jpg').srcSet" :src="getImageUrl()"  alt="Juggling at Library Mall.  Photo by Cheryl Schiltz." fluid></b-img-lazy>  
      </div>
    </div>
  </section>
</template>

<script>
export default {
  head() {
    return {
      title: 'Home'
    }
  },
  methods: {
      getImageUrl() {
        return `~/static/Images/Scrambled.jpg`
      }
    }
}
</script>
