<template>
  <section class="container">
    <h1 class="title">Links</h1>
    <hr />
    <h2>Online Resources</h2>
    <ul>
      <li>
        <a href="/majpatternbook">Madison Area Jugglers Pattern Book</a>
      </li>
      <li>
        <a href="http://www.juggle.org/">The International Jugglers Association</a>
      </li>
      <li>
        <a href="https://www.jugglingedge.com/">The Juggling Edge</a>
      </li>
      <li>
        <a href="http://www.juggling.org/">Juggling Information Service</a>
      </li>
      <li>
        <a href="https://github.com/GiantZOC/awesome-juggling">Awesome Juggling (Directory)</a>
      </li>
      <li>
        <a
          href="http://www.stat.wisc.edu/~newton/juggle/JugglingPi.html"
        >Juggling pi (by Mike Newton)</a>
      </li>
    </ul>

    <h2 class="subtitle">Local Groups</h2>
    <ul>
      <li>
        <a href="http://madisoncircusspace.com/">Madison Circus Space</a>
      </li>
      <li>
        <a href="http://maduni.com/">Madison Unicyclists</a>
      </li>
    </ul>

    <h2 class="subtitle">Some Members of the MAJ</h2>
    <ul>
      <li>
        <a href="http://www.markhayward.net/">Mark Hayward</a>
      </li>
      <li>
        <a href="http://www.stat.wisc.edu/~newton/">Mike Newton</a>
      </li>
    </ul>

    <h2>MadFest Archive</h2>

    <ul>
      <li>
        <a href="https://photos.app.goo.gl/OUtv5qTTnDKbUWR63">MadFest T-Shirt Archive</a>
      </li>
      <li>
        <a href="/Madfest/madfest2024/">MadFest 2024</a>
      </li>
      <li>
        <a href="/Madfest/madfest2023/">MadFest 2023</a>
      </li>
      <li>
        <a href="/Madfest/madfest2022summer/">MadFest 2022 Summer</a>
      </li>
      <li>
        MadFest 2022 Winter Cancelled
      </li>
      <li>
        MadFest 2021 Cancelled
      </li>
      <li>
        <a href="/Madfest/madfest2019/">MadFest 2019</a>
      </li>
      <li>
        <a href="/Madfest/madfest2018/">MadFest 2018</a>
      </li>
    </ul>
  </section>
</template>

<script>
export default {
  head() {
    return {
      title: 'Links'
    }
  }
}
</script>
