<template>
  <section class="container">
    <div>
      <h1 class="display-4">47th Annual MADFEST 2025</h1>
      <h2>Presented by the Madison Area Jugglers</h2>
      <h3>January 17, 18, 19 2025</h3>
      <h3>3 Days of Juggling and Other Fun</h3>
      <p>
        Free Admission except for the Big Show at the Barrymore, you have to get
        a ticket to that.
      </p>

      <h1>We cannot book space at the school until after September.  Madfest will happen on 17, 18 and 19 but the exact details won't be known until later in the year.</h1>

      <div class="row">
        <div class="col-lg">
          <b-card class="border border-primary">
            <b-row>
              <b-col>
                <b-card-title class="h3">Saturday (Night)</b-card-title>
                <b-card-sub-title class="h5"
                  >Show - 47th Annual Madfest Juggling
                  Extravaganzas</b-card-sub-title
                >
                <div class="float-left">
                  <p class="card-text">
                    January 19 7:00pm
                    <br />
                    <br />Tickets are $25 in Advance or $28 at the door.
                  </p>

                  <div class="card-text">
                    Show Line Up TBD
                    
                  </div>

                  <p class="card-text">
                    Barrymore Theatre
                    <br />2090 Atwood Ave. <br />Madison, WI 53704
                  </p>
                </div>
              </b-col>
            </b-row>
          </b-card>
        </div>
      </div>
      <!-- <div>
        <br />
        <h3>Housing Options:</h3>
        <p>Please note there is something going on in town and hotels are booking up.  We have created a Facebook group for people to connect on shared housing for the event.</p>
        <p><a href="https://www.facebook.com/groups/3114254352232303/">Crashpad connection</a></p>
        <p><a href="https://g.page/hotel-indigo-madison-downtown?share">Closest hotel</a></p>
        <p><a href="https://www.airbnb.com/a/stays/Madison--Wisconsin--United-States?c=.pi0.pk475441696_41645801185&localized_ghost=true">Airbnb</a> has some nice options as well</p>


      </div>
       -->
      <div>
        <h3>Other info:</h3>
        <ul>
          <li>
            By attending Madfest you agree to follow the
            <a href="/madfest/conduct">Madfest Code of Conduct</a>.
          </li>
		  <li>
            No pets
          </li>
          <li>
            * MadFest Open Juggling is substance free. Do not attend if you are
            under the influence of drugs or alcohol.
          </li>
        </ul>
      </div>
    </div>
  </section>
</template>

<style>
.text-muted {
  color: #843925 !important;
}
</style>

<script>
export default {
  head() {
    return {
      title: 'Madfest 2025',
    }
  },
}
</script>
