<template>
  <section class="container">
    <h1 class="title">MAJ Pattern Book</h1>
    <p>Welcome to the Madison Area Jugglers' Pattern Book, a collection of patterns for intermediate to advanced passers. These patterns are part of our juggling repertoire. Many we learned or adapted from other jugglers; we include them because it's fun trying to juggle them. But very many of the patterns in this book were born in Madison, conjured up at Thursday/Sunday juggling sessions or at 47th Annual Madfests, annual events since 1992. The book offers some record of the evolution of club passing in Madison.</p>
    <p>The MAJ pattern book is always evolving. Here are links to our github page and generated PDFs.</p>
    <ul>
      <li>
        <a href="https://github.com/madjugglers/pattern-book">MAJ Pattern Book Source</a>
      </li>
      <li>
        <a href="../Files/majbook_v3.pdf">Madison Area Jugglers Pattern Book v3.0 (PDF, 34 MB)</a>
      </li>
      <li>
        <a href="../Files/Madison_Patterns_V1-2.pdf">Madison Area Jugglers Pattern Book v1.2 (PDF)</a>
      </li>
    </ul>
  </section>
</template>

<script>
export default {
  head() {
    return {
      title: 'MAJ Pattern Book'
    }
  }
}
</script>