<template>
  <div>
    <section class="container-fluid">
      <div class="row">
        <div class="col col-lg-6">
          <div class="mt-3 mx-3">
            <h1>Meetings</h1>
            <hr />
            The Madison Area Jugglers welcome anyone who is interested in
            juggling and related arts. We meet twice a week on Thursdays and
            Sundays.
            <h2>A Note About Meeting Times</h2>
            Juggling practices are very informal and jugglers may trickle in
            over the first hour. If you are new to the club, you should plan to
            arrive a little late, or be prepared for some quiet time at the
            beginning of practice.
            <hr />
            <h1>
              
              <a id="Schedule" name="Schedule" />Schedule
            </h1>
            <calendar />
          </div>
        </div>
        <div class="d-none d-lg-block col col-lg-6">
          <div class="m-0">
            <b-embed
              type="video"
              aspect="16by9"
              controls
              poster="/Files/video-thumb.jpg"
              alt="Large juggling pattern"
            >
              <source src="~/static/Files/video.webm" type="video/webm" />
            </b-embed>
          </div>
          <!-- <b-img-lazy src="Images/Fire5.jpg" alt="Image 1" fluid></b-img-lazy> -->
        </div>
      </div>
      <hr />
      <div class="mx-3">
        <h1><a id="Map" name="Map" />Practice Locations</h1>
        <div class="row mx-0">
          <div class="card col-sm border border-primary">
            <div class="card-body">
              <address>
                <strong>Library Mall</strong>
                <br />728 State St <br />Madison, WI 53706
                <br />
              </address>
            </div>
          </div>
          <div class="card col-sm border border-primary">
            <div class="card-body">
              <address>
                <strong>Madison Circus Space</strong>
                <br />2082 Winnebago St. <br />Madison, WI 53704
                <br />
              </address>
            </div>
          </div>
          <div class="card col-sm border border-primary">
            <div class="card-body">
              <address>
                <strong>First Congregational United Church of Christ</strong>
                <br />1609 University Ave <br />Madison, WI 53726
                <br />
              </address>
            </div>
          </div>
        </div>
        <LocationMap class="border border-primary" />
      </div>

      <div class="row">
        <div class="col">
          <div class="mt-3 mx-3">
            <h1>
              <a id="SummerLocation" name="SummerLocation" />Thursday Summer Juggling (May through September)
            </h1>
            <p>
              When it's nice and warm out, we meet at Library Mall on the UW campus. We are in the grass area between Memorial Library and the Historical Society while it is light out.  When it is dark or raining we are typically under the lights next to the Chazen Museum.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="mt-3 mx-3">
            <h1>Thursday Winter Juggling (September through April)</h1> 
            <p>
              On Thursdays we meet in the basement of the First Congregational
              Church from 7pm to 10pm. The doors may be locked after 8:30pm. Use
              the Lathrop street entrance. If you come late give another member
              a call we can let you in. There is parking available in a small
              lot across the street from the church. There is also plenty of on
              street parking.
            </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="mt-3 mx-3 mb-5">
            <h1>Sunday Juggling</h1>
            <p>
              On Sundays we meet in the
              <a href="http://madisoncircusspace.com/">Madison Circus Space</a>
              from 2pm - 4pm.  Please
              take off or change your shoes to avoid tracking in dirt/snow. A
              waiver is required to use the Madison Circus Space. You can fill
              it out on their website or at the tablet near the front doors.  There is shared juggling equipment available on the black racks in the Madison Circus Space.
            </p>
          </div>
        </div>
      </div>

      

      <!-- <div class="col-lg-3">
      <Blog/>
      </div>-->
    </section>
  </div>
</template>

<style></style>

<script>
import Calendar from '../components/Calendar.vue'
import LocationMap from '../components/Map.vue'
import Blog from '../components/Blog.vue'

export default {
  components: { Calendar, LocationMap, Blog },
  head() {
    return {
      title: 'Meetings',
    }
  },
}
</script>