<template>
  <section class="container">
    <div>
      <h1>We are organized like a nonprofit but can't afford the filings with the IRS</h1>
      <h2>Documents</h2>
      <ul>
        <li>
        <a href="../Files/nonprofit/Bylaws-MadisonAreaJugglers_1.0_signed.pdf">Bylaws</a>
      </li>
      
      <li>
        <a href="../Files/nonprofit/ConflictOfInterestPolicy.odt">Conflict Of Interest Policy</a>
      </li>
      <li>
        <a href="../Files/nonprofit/Conflict-of-Interest Disclosure.odt">Conflict Of Interest Disclosure</a>
      </li>
      </ul>
    </div>
  </section>
</template>

<script>
export default {
  head() {
    return {
      title: 'Nonprofit Information'
    }
  }
}
</script>
