<template>
  <section class="container">
    <h1>47th Annual MADFEST Code of Conduct</h1>
   <p>Madfest is committed to providing a welcoming and harassment-free environment for participants of all races, gender and trans statuses, sexual orientations, physical abilities, physical appearances, and beliefs. We’ve written this code of conduct not because we expect bad behavior from our community—which, in our experience, is overwhelmingly kind and civil—but because we believe a clear code of conduct is one necessary part of building a respectful community space.</p>
<p>Madfest participants agree to:</p>
<ul>
<li> Be considerate in speech and actions, and actively seek to acknowledge and respect the boundaries of fellow attendees.</li>
<li> Refrain from demeaning, discriminatory, or harassing behavior and speech. Harassment includes, but is not limited to: deliberate intimidation; stalking; unwanted photography or recording; sustained or willful disruption of talks or other events; inappropriate physical contact; use of sexual or discriminatory imagery, comments, or jokes; and unwelcome sexual attention. If you feel that someone has harassed you or otherwise treated you inappropriately, please alert any member of the festival staff in person, or via email <strong>madjugglers@gmail.com</strong>.</li>
<li> <strong >Take care of each other</strong>. Alert a festival staff if you notice a dangerous situation, someone in distress, or violations of this code of conduct, even if they seem inconsequential.</li>
</ul>
<p>&nbsp;</p>
<p>If any attendee engages in harassing behavior, the conference organizers may take any lawful action we deem appropriate, including but not limited to warning the offender or asking the offender to leave the conference. (If you feel you have been unfairly accused of violating this code of conduct, you should contact the conference team with a concise description of your grievance; any grievances filed will be considered by the entire Madfest Organizers.)</p>
<p>We welcome your feedback on this and every other aspect of Madfest, and we thank you for working with us to make it a safe, enjoyable, and friendly experience for everyone who participates.</p>
<p>Above text is licensed CC BY-SA 4.0. Credit to <a href="http://ordcamp.com/conduct/">ORD Camp&#8217;s Code of Conduct</a>,<a href="http://srccon.org/conduct/">SRCCON&#8217;s Code of Conduct</a>, <a href="http://citizencodeofconduct.org/">Citizen Code of Conduct</a>, <a href="https://www.djangoproject.com/conduct/">the Django Project’s code of conduct</a> and <a href="http://theorizingtheweb.tumblr.com/post/79357700249/anti-harassment-statement">Theorizing the Web code of conduct</a> from which we’ve extensively borrowed, with general thanks to <a href="http://adainitiative.org/2014/02/18/howto-design-a-code-of-conduct-for-your-community/">the Ada Initiative’s “how to design a code of conduct for your community.”</a></p>
</section>
</template>

