<template>
  <section class="container">
    <div>
      <h1 class="display-4">47th Annual MADFEST</h1>
            
      <h3>January 17-19th, 2020</h3>
      <h3>3 Days of Juggling and Other Fun</h3>
      <div>
        <b-card class="border border-primary">
          <b-card-title class="h3">Thanks for juggling with us!</b-card-title>
          <b-card-sub-title class="h5">Please Take our survey!</b-card-sub-title>
          <p class="card-text">
            Survey Link: <a href="https://forms.gle/z8mM4n1noCmHvS2X7">https://forms.gle/z8mM4n1noCmHvS2X7</a>
          </p>
        </b-card>
      </div>
      <div>
        <b-card class="border border-primary">
          <b-card-title class="h3">Did you leave something behind?</b-card-title>
          <b-card-sub-title class="h5">Contact Us if anything looks familiar</b-card-sub-title>
              <div class="col-lg d-none d-lg-block">
                <b-img-lazy
                  :srcset="require('~/static/Images/2020/lost_items_2020_sm.jpg').srcSet"
                  src="~/static/Images/2020/lost_items_2020_sm.jpg"
                  height="756"
                  width="1008"
                  alt="Lost and Found"
                  fluid
                ></b-img-lazy>
              </div>
        </b-card>
      </div>

      

    </div>
  </section>
</template>

<style>
.text-muted {
  color: #843925 !important;
}
</style>

<script>
export default {
  head() {
    return {
      title: 'Madfest 2020'
    }
  }
}
</script>
