<template>
  <section class="container">
    <div>
      <h1 class="display-4">47th Annual MADFEST</h1>
      <h3>2021</h3>
	  <p>The madfest that wasn't.  We did some torches at library mall this year.</p>
    </div>
  </section>
</template>

<style>
.text-muted {
  color: #843925 !important;
}
</style>

<script>
export default {
  head() {
    return {
      title: 'Madfest 2021'
    }
  }
}
</script>
