<template>
  <section class="container">
    <div>
      <h1>47th Annual MADFEST</h1>January 18-20th, 2019
      <br />3 Days of Juggling and Other Fun
      <div>
        <b-card title="Friday" sub-title="Open Juggling*">
          <p class="card-text">
            Jan 18th 5pm-1am
            <br />Free Admission
            <br />You must sign a waiver for this location -
            <a
              href="https://madisoncircusspace.com/"
            >https://madisoncircusspace.com/</a>
          </p>
          <p class="card-text">
            Madison Circus Space
            <br />84 N. Bryan St.
            <br />Madison, WI 53714
          </p>
        </b-card>
      </div>

      <div>
        <b-card title="Saturday" sub-title="Open Juggling*, Workshops, Vendors">
          <p class="card-text">
            Jan 19th 10am-5pm
            <br />Free Admission
            <br />
          </p>
          <p class="card-text">
            O'Keefe Middle School
            <br />510 S Thornton Ave
            <br />Madison, WI 53703
          </p>
          <ul>
            <li>10am - Technique and Proper Form - with Kyle Driggs</li>
            <li>11am - Tag Teaching and Juggling - with Scott Krause</li>
            <li>12am - Clover Passsing Patterns - with Michael Newton</li>
            <li>1pm - Better Juggling thru Power Napping and Lucid Dreaming - with TRL</li>
            <li>2pm - 2 Club Manipulation: VTG - with Ryan Ducham</li>
            <li>2pm - Painting with Juggling - with Jugglology</li>
            <li>3pm - One-Sided Diabolo - with Jim Brennan and TRL</li>
            <li>4pm - Poi: Flexible Fundamentals - with Ryan Ducham</li>
          </ul>
        </b-card>
      </div>

      <div class="row">
        <div class="col-lg">
          <b-card
            title="Saturday Night"
            sub-title="Show - 47th Annual Madfest Juggling Extravaganza"
          >
            <div class="float-left">
              <p class="card-text">
                January 19 7:00pm
                <br />
                <br />Tickets are $20 in Advance or $25 at the door.
                <br />Online:
                <a
                  href="https://barrymorelive.com/event/the-47th-annual-madfest-juggling-extravaganza/"
                >Tickets</a>
                <br />Phone: (608) 241-8864
                <br />Outlets:
                <a href="https://barrymorelive.com/tickets/">Ticket Outlets</a>
                <br />
              </p>

              <div class="card-text">
                The show will be featuring:
                <ul>
                  <li>KYLE DRIGGS</li>
                  <li>SOPHIE SHAPELESS</li>
                  <li>DUCK AND COVER</li>
                  <li>ERIC JACKSON</li>
                  <li>THE BFFs</li>
                  <li>MC Mark Hayward</li>
                  <li>and more TBA!</li>
                </ul>
              </div>
              <p class="card-text">
                Barrymore Theatre
                <br />2090 Atwood Ave.
                <br />Madison, WI 53704
              </p>
            </div>
          </b-card>
        </div>
        <div class="col-lg d-none d-lg-block">
          <b-img-lazy
          :srcset="require('~/static/Images/2019/MadFestJuggling2019_11x17b.jpg').srcSet"
            src="~/static/Images/2019/MadFestJuggling2019_11x17b.jpg"
            height="490"
            width="320"
            alt="Madfest Performance"
            fluid
          ></b-img-lazy>
        </div>
      </div>

      <div>
        <b-card title="Saturday Late Night" sub-title="Open Juggling*">
          <p class="card-text">
            Jan 19th 10pm-2am
            <br />Free Admission
            <br />You must sign a waiver for this location -
            <a
              href="https://madisoncircusspace.com/"
            >https://madisoncircusspace.com/</a>
          </p>
          <p class="card-text">
            Madison Circus Space
            <br />84 N. Bryan St.
            <br />Madison, WI 53714
          </p>
        </b-card>
      </div>

      <div>
        <b-card title="Sunday" sub-title="Open Juggling*, Workshops, Vendors">
          <p class="card-text">
            Jan 20th 10am-4:00pm
            <br />Free Admission
            <br />
          </p>
          <p class="card-text">
            O'Keefe Middle School
            <br />510 S Thornton Ave
            <br />Madison, WI 53703
          </p>
          <ul>
            <li>12pm - Big Pattern</li>
            <li>? -Games</li>
          </ul>
        </b-card>
      </div>
      <div>
        <ul>
          <li>
            By attending Madfest you agree to follow the
            <a
              href="/madfest/conduct"
            >Madfest Code of Conduct</a>.
          </li>
          <li>* MadFest Open Juggling is substance free. Do not attend if you are under the influence of drugs or alcohol.</li>
        </ul>
      </div>
    </div>
  </section>
</template>

<style>
.text-muted {
  color: #843925 !important;
}
</style>

<script>
export default {
  head() {
    return {
      title: 'Madfest 2019'
    }
  }
}
</script>
