<template>
  <section class="container">
    <div>
      <h1 class="display-4">47th Annual MADFEST Summer Edition</h1>
      <h2>Presented by the Madison Area Jugglers </h2>
      <h3>June 10-12th, 2022</h3>
      <h3>3 Days of Juggling and Other Fun</h3>
<p>Free Admission except for the Big Show at the Barrymore, you have to get a ticket to that. </p>
<p>All skill levels are welcome. </p>
<h3>These are the COVID protocols we required to follow in January.  Will update if they change.</h3>
<ul>
  <li>We will require proof of a completed COVID-19 vaccination.  This includes all Children. This also means that those too young to receive a vaccination cannot attend. (No one without a Vaccine will be admitted per the location requirements.) </li>
  <li>The COVID-19 vaccination card must show a completed regimen that concluded before January 13, 2022.</li>
  <li>Proof of vaccination must be shown at time of entry </li>
  <li>We will require a basic registration for contact tracing</li>
  <li>Attendees may present a physical vaccination record card, or a digital document on a mobile device (such as a photo image of a vaccination record card or the Docket app).</li>
  <li>At O'Keefe Middle School we will follow all Covid Protocols laid out by the MMSD.</li>
  <ol>
    <li>There will be no eating at O'Keefe Middle School. </li>
    <li>Masks are to be worn at all times in all venues.</li>
    <li>You will receive a wristband once your vac card has been seen. Please don't take it off. </li>
  </ol>
  
  <li>The Barrymore requires proof of vaccination or a negative test.  Masks are also required. <a href="https://barrymorelive.com/2021/08/05/covid-19-protocols/">Barrymore Covid Protocols</a></li>
  <li>These requirements may change based on local and venue specific guidelines. For current updates please check this page.</li>
</ul>
<p>
We understand that, due to these rules, not everyone will be able to attend this Madfest. We want to thank-you for staying home if that is the case. Rest assured, you will be welcomed back with club filled arms once this Covid thing has run its course. 
</p>


      
      <div>
        <b-card class="border border-primary">
          <b-card-title class="h3">Friday</b-card-title>
          <b-card-sub-title class="h5">Open Juggling*</b-card-sub-title>
          <p class="card-text">
            June 10 5pm-9:30pm
            <br />Free Admission
          </p>
          <p class="card-text">
            O'Keefe Middle School
            <br />510 S Thornton Ave
            <br />Madison, WI 53703
          </p>
        </b-card>
      </div>

      <div>
        <b-card class="border border-primary">
          <b-card-title class="h3">Saturday (Daytime)</b-card-title>
          <b-card-sub-title class="h5">Open Juggling*, Workshops, Vendors</b-card-sub-title>
          <p class="card-text">
            June 11 10am-5pm
            <br />Free Admission
            <br />
          </p>
          <p class="card-text">
            O'Keefe Middle School
            <br />510 S Thornton Ave
            <br />Madison, WI 53703
          </p>
          <ul>
            Workshops
            <li>TBD</li>
          </ul>
        </b-card>
      </div>

      <div class="row">
        <div class="col-lg">
          <b-card class="border border-primary">
            <b-row>
              <b-col>
                <b-card-title class="h3">Saturday (Night)</b-card-title>
                <b-card-sub-title class="h5">Show - 47th Annual Madfest Juggling Extravaganzas</b-card-sub-title>
                <div class="float-left">
                  <p class="card-text">
                    June 11 7:00pm
                    <br />
                    <br />Tickets are $20 in Advance or $25 at the door.
                    <br />Online:
                    <a
                      href="https://barrymorelive.com/"
                    >Click here for Tickets</a>
                    <br />Phone: (608) 241-8864
                    <br />Outlets:
                    <a href="https://barrymorelive.com/tickets/">Ticket Outlets</a>
                    <br />
                  </p>

                  <div class="card-text">
                    Show lineup TBD.  If you are interested in performing use the contact form.
                  </div>
                  <p class="card-text">
                    Barrymore Theatre
                    <br />2090 Atwood Ave.
                    <br />Madison, WI 53704
                  </p>
                </div>
              </b-col>
            </b-row>
          </b-card>
        </div>
      </div>

      <div>
        <b-card class="border border-primary">
          <b-card-title class="h3">Sunday</b-card-title>
          <b-card-sub-title class="h5">Open Juggling*, Workshops, Vendors</b-card-sub-title>
          <p class="card-text">
            Jan 16th 10am-4:00pm
            <br />Free Admission
            <br />
          </p>
          <p class="card-text">
            O'Keefe Middle School
            <br />510 S Thornton Ave
            <br />Madison, WI 53703
          </p>
          <ul class="card-text">
            Schedule TBD
          </ul>
        </b-card>
      </div>

      <div>
        <p>Thank you to FlyingClipper and Flowtoys for donating to our raffle!</p>
      </div>
      <div class="row">
       <div class="d-none d-sm-block col col-sm-4 m-0">
         <a href="https://www.flyingclipper.com/ija">
          <b-img-lazy :srcset="require('~/static/Images/2022/flyingclipper.jpg').srcSet" style="margin-top: -20px;"  alt="FlyingClipper" fluid></b-img-lazy>  
        </a>
      </div>
       <div class="d-none d-sm-block col col-sm-4 m-0">
         <a href="http://flowtoys.com">
          <b-img-lazy :srcset="require('~/static/Images/2022/flowtoys.jpg').srcSet" style="margin-top: 5px;"   alt="Flowtoys" fluid></b-img-lazy>  
        </a>
      </div>
      </div>

      

      <div>
        <ul>
          <li>
            By attending Madfest you agree to follow the
            <a
              href="/madfest/conduct"
            >Madfest Code of Conduct</a>.
          </li>
          <li>* MadFest Open Juggling is substance free. Do not attend if you are under the influence of drugs or alcohol.</li>
        </ul>
      </div>

      <h3>Housing Options:</h3>
      <ul>
        <li><a href="https://www.facebook.com/groups/3114254352232303/">Crashpad connection</a> We have created a Facebook group for people to connect on shared housing for the event. </li>
        <li>Closest hotel: <a href="https://g.page/hotel-indigo-madison-downtown?share">Hotel Indigo</a>.  Working on other options please see crash pad connection group.</li>
        <li><a href="https://www.airbnb.com/a/stays/Madison--Wisconsin--United-States?c=.pi0.pk475441696_41645801185&localized_ghost=true&gclid=Cj0KCQiAtJeNBhCVARIsANJUJ2HjT4eHCEaVw9EFuQ0jWGOR5zlKDHMnHwnJnh_eMM44DgwUUnNsjQAaAuRKEALw_wcB">Airbnb</a>        </li>
      </ul>
    </div>
  </section>
</template>

<style>
.text-muted {
  color: #843925 !important;
}
</style>

<script>
export default {
  head() {
    return {
      title: 'Madfest 2022'
    }
  }
}
</script>
