<template>
    <section class="container">
      <div>
        <h1 class="display-4">47th Annual MADFEST 2023</h1>
        <h2>Presented by the Madison Area Jugglers</h2>
        <h3>January 13, 14, 15 2023</h3>
        <h3>3 Days of Juggling and Other Fun</h3>
        <p>
          Free Admission except for the Big Show at the Barrymore, you have to get
          a ticket to that.
        </p>
        <p>All skill levels are welcome.</p>
        <h3>COVID restrictions have been lifted</h3>
        <ul>
          <li>
            Please stay home if you are sick.
          </li>
        </ul>
  
        <div>
          <b-card class="border border-primary">
            <b-card-title class="h3">Friday</b-card-title>
            <b-card-sub-title class="h5">Open Juggling*</b-card-sub-title>
            <p class="card-text">
              January 13 5pm - Midnight
              <br />Free Admission
            </p>
            <p class="card-text">
              Madison Circus Space
              <br />2082 Winnebago St <br />Madison, WI 53704
            </p>
          </b-card>
        </div>
  
        <div>
          <b-card class="border border-primary">
            <b-card-title class="h3">Saturday (Daytime)</b-card-title>
            <b-card-sub-title class="h5"
              >Open Juggling*, Workshops, Vendors</b-card-sub-title
            >
            <p class="card-text">
              January 14 10am-4:45pm
              <br />Free Admission
              <br />
            </p>
            <p class="card-text">
              O'Keefe Middle School
              <br />510 S Thornton Ave <br />Madison, WI 53703
            </p>
            <ul>
              Workshops
              <li>TBD</li>
            </ul>
          </b-card>
        </div>
  
        <div class="row">
          <div class="col-lg">
            <b-card class="border border-primary">
              <b-row>
                <b-col>
                  <b-card-title class="h3">Saturday (Night)</b-card-title>
                  <b-card-sub-title class="h5"
                    >Show - 47th Annual Madfest Juggling
                    Extravaganzas</b-card-sub-title
                  >
                  <div class="float-left">
                    <p class="card-text">
                      January 14 7:00pm
                      <br />
                      <br />Tickets are $20 in Advance or $25 at the door.
                      <br />Online:
                      <a
                        href="https://barrymorelive.com/event/madfest-juggling/"
                        >Click here for Tickets</a
                      >
                      <br />Phone: (608) 241-8864 <br />Outlets:
                      <a href="https://barrymorelive.com/tickets/"
                        >Ticket Outlets</a
                      >
                      <br />
                    </p>
  
                    <div class="card-text">
                      The show will be featuring:
                      <ul>
                        <li>
                          <a href="http://markhayward.net/">Mark Hayward</a>
                        </li>
                        <li>
                          <a href="https://www.forwardband.org/">Forward Marching Band</a>
                        </li>
                        <li>
                          <a href="https://www.jugglology.com/">Galen Harp</a>
                        </li>
                        <li>
                          <a href="https://www.markfiorejuggles.com/">Mark Fiore</a>
                        </li>
                        <li>
                          <a href="https://www.lutherbangert.com/">Luther Bangert</a>
                        </li>
                        <li>
                          <a href="https://www.foxvalleyfirearts.com/">Fox Valley Fire Arts</a>
                        </li>
                        <li>
                          <a href="https://scottyandtrink.com/">Scotty and Trink</a>
                        </li>
                        <li>
                          <a href>Frankenstein's Monster</a>
                        </li>
                      </ul>
                    </div>
  
                    <p class="card-text">
                      Barrymore Theatre
                      <br />2090 Atwood Ave. <br />Madison, WI 53704
                    </p>
                  </div>
                </b-col>
                <!-- <div class="col-lg d-none d-lg-block">
                  <b-img-lazy
                    :srcset="require('~/static/Images/2023/Madfest2023Poster.jpg').srcSet"
                    src="~/static/Images/2023/Madfest2023Poster.jpg"
                    height="490"
                    width="320"
                    alt="Madfest Performance"
                    fluid
                  ></b-img-lazy>
                </div> -->
                <!-- <b-img-lazy
                  :srcset="require('~/static/Images/2024/madfest.jpg').srcSet"
                  src="~/static/Images/2024/madfest.jpg"
                  height="490"
                  width="320"
                  alt="Madfest Performance"
                  fluid
                ></b-img-lazy> -->
              </b-row>
            </b-card>
          </div>
        </div>
        <div>
          <b-card class="border border-primary">
            <b-card-title class="h3">Saturday (Late Night)</b-card-title>
            <b-card-sub-title class="h5"
              >Renegade, Open Juggling*</b-card-sub-title
            >
            <p class="card-text">
              January 14 9:30pm to midnight
              <br />Free Admission
              <br />
            </p>
            <p class="card-text">
              Madison Circus Space
              <br />2082 Winnebago St <br />Madison, WI 53704
            </p>
          </b-card>
        </div>
  
        <div>
          <b-card class="border border-primary">
            <b-card-title class="h3">Sunday</b-card-title>
            <b-card-sub-title class="h5"
              >Open Juggling*, Workshops, Vendors</b-card-sub-title
            >
            <p class="card-text">
              January 15 10am-4:00pm
              <br />Free Admission
              <br />
            </p>
            <p class="card-text">
              O'Keefe Middle School
              <br />510 S Thornton Ave <br />Madison, WI 53703
            </p>
            <ul class="card-text">
              Schedule TBD
            </ul>
          </b-card>
        </div>
        <div>
          <ul>
            <li>
              By attending Madfest you agree to follow the
              <a href="/madfest/conduct">Madfest Code of Conduct</a>.
            </li>
            <li>
              No pets
            </li>
            <li>
              * MadFest Open Juggling is substance free. Do not attend if you are
              under the influence of drugs or alcohol.
            </li>
          </ul>
        </div>
      </div>
    </section>
  </template>
  
  <style>
  .text-muted {
    color: #843925 !important;
  }
  </style>
  
  <script>
  export default {
    head() {
      return {
        title: 'Madfest 2023',
      }
    },
  }
  </script>
  