<template>
  <section class="container">
    <div>
      <h1 class="display-4">47th Annual MADFEST</h1>
      <h3>January 17-19th, 2020</h3>
      <h3>3 Days of Juggling and Other Fun</h3>
      <b-alert
        show
        variant="secondary"
      >The Madison Circus Space is in a new building at 2082 Winnebago St</b-alert>
      <div>
        <b-card class="border border-primary">
          <b-card-title class="h3">Friday</b-card-title>
          <b-card-sub-title class="h5">Open Juggling*</b-card-sub-title>
          <p class="card-text">
            Jan 17th 5pm-Midnight
            <br />Free Admission
            <br />You must sign a waiver for this location -
            <a
              href="https://madisoncircusspace.com/waiver"
            >Waiver</a>
          </p>
          <p class="card-text">
            Madison Circus Space
            <br />2082 Winnebago St.
            <br />Madison, WI 53704
          </p>
        </b-card>
      </div>

      <div>
        <b-card class="border border-primary">
          <b-card-title class="h3">Saturday (Daytime)</b-card-title>
          <b-card-sub-title class="h5">Open Juggling*, Workshops, Vendors</b-card-sub-title>
          <p class="card-text">
            Jan 18th 10am-5pm
            <br />Free Admission
            <br />
          </p>
          <p class="card-text">
            O'Keefe Middle School
            <br />510 S Thornton Ave
            <br />Madison, WI 53703
          </p>
          <ul>
            Workshops
            <li>11:00am - Friendly Passing with Steve</li>
            <li>12:00pm - Clubs and Balls with Gina</li>
            <li>1:00pm - Ring Rolls with Zak</li>
            <li>2:00pm - Learning 5 ball with Mark</li>
            <li>3:00pm - Bounce Juggling with Nick</li>
            <li>3:30pm - 5 Ball Siteswaps with Mark</li>
          </ul>
        </b-card>
      </div>

      <div class="row">
        <div class="col-lg">
          <b-card class="border border-primary">
            <b-row>
              <b-col>
                <b-card-title class="h3">Saturday (Night)</b-card-title>
                <b-card-sub-title class="h5">Show - 47th Annual Madfest Juggling Extravaganzas</b-card-sub-title>
                <div class="float-left">
                  <p class="card-text">
                    January 18 7:00pm
                    <br />
                    <br />Tickets are $20 in Advance or $25 at the door.
                    <br />Online:
                    <a
                      href="https://barrymorelive.com/product/2001181.html"
                    >Click here for Tickets</a>
                    <br />Phone: (608) 241-8864
                    <br />Outlets:
                    <a href="https://barrymorelive.com/tickets/">Ticket Outlets</a>
                    <br />
                  </p>

                  <div class="card-text">
                    The show will be featuring:
                    <ul>
                      <li>
                        <a href="http://www.anni-juggling.de/">Anni Küpper</a>
                      </li>
                      <li>
                        <a href="http://roxanacircusartist.com/">Roxana</a>
                      </li>
                      <li>
                        <a href="https://www.instagram.com/tank_tanakaro/">Tank</a>
                      </li>
                      <li>
                        <a href="https://www.marcusmonroe.com/about">Marcus Monroe</a>
                      </li>
                      <li>
                        <a href="http://markhayward.net/">Mark Hayward</a>
                      </li>
                      <li>
                        <a href="https://www.tonyentertains.com/">Tony Steinbach</a>
                      </li>
                      <li>
                        <a href="https://www.instagram.com/zakmcallister/">Zak McAllister</a>
                      </li>
                      <li>
                        <a href="https://www.instagram.com/genacristiani/">Gena Cristiani</a>
                      </li>
                      <li>
                        <a href>The Mellliorists (MAJ Jugglers)</a>
                      </li>
                    </ul>
                  </div>
                  <p class="card-text">
                    Barrymore Theatre
                    <br />2090 Atwood Ave.
                    <br />Madison, WI 53704
                  </p>
                </div>
              </b-col>
              <div class="col-lg d-none d-lg-block">
                <b-img-lazy
                  :srcset="require('~/static/Images/2020/2020poster.png').srcSet"
                  src="~/static/Images/2020/2020poster.png"
                  height="490"
                  width="320"
                  alt="Madfest Performance"
                  fluid
                ></b-img-lazy>
              </div>
            </b-row>
          </b-card>
        </div>
      </div>

      <div>
        <b-card class="border border-primary">
          <b-card-title class="h3">Saturday (Late Night)</b-card-title>
          <b-card-sub-title class="h5">Renegade (Open Mic) and Open Juggling</b-card-sub-title>
          <p class="card-text">
            Jan 18th 9pm-1am
            <br />Free Admission
            <br />There will be a short renegade juggling show hosted by Marcus Monroe and Mark Hayward in the main room of the MCS.  People who prefer to juggle can use the lower dance studio.  There will also be open juggling in the main room after the show.
            <br />You must sign a waiver for this location -
            <a
              href="https://madisoncircusspace.com/waiver"
            >Waiver</a>
          </p>
          <p class="card-text">
            Madison Circus Space
            <br />2082 Winnebago St.
            <br />Madison, WI 53704
          </p>
        </b-card>
      </div>

      <div>
        <b-card class="border border-primary">
          <b-card-title class="h3">Sunday</b-card-title>
          <b-card-sub-title class="h5">Open Juggling*, Workshops, Vendors</b-card-sub-title>
          <p class="card-text">
            Jan 19th 10am-4:00pm
            <br />Free Admission
            <br />
          </p>
          <p class="card-text">
            O'Keefe Middle School
            <br />510 S Thornton Ave
            <br />Madison, WI 53703
          </p>
          <ul class="card-text">
            <li>11:00am - Takeouts with Robert and Nick</li>
            <li>11:30am - Club balance with Anni</li>
            <li>12:00pm - Club kickups with Steve B</li>
            <li>1:00pm - Games with Steve C</li>
            <li>2:30pm -  Big Pattern</li>
          </ul>
        </b-card>
      </div>
      <div>
        <ul>
          <li>
            By attending Madfest you agree to follow the
            <a
              href="/madfest/conduct"
            >Madfest Code of Conduct</a>.
          </li>
          <li>* MadFest Open Juggling is substance free. Do not attend if you are under the influence of drugs or alcohol.</li>
        </ul>
      </div>
    </div>
  </section>
</template>

<style>
.text-muted {
  color: #843925 !important;
}
</style>

<script>
export default {
  head() {
    return {
      title: 'Madfest 2020'
    }
  }
}
</script>
