<template>
  <section class="container">
    <h1>47th Annual MADFEST</h1>
    <h3>January 12-14th, 2018</h3>
    <h2>Thanks for making it a great Festival</h2>
    <h2>Missing Something?</h2>
    If you lost something it might be here:
    <img 
      src="http://madjugglers.com/sites/default/files/lost_found_2018.jpg" 
      alt="LostAndFound" >
    To reclaim send us an email at <strong>madjugglers (at) gmail (dot) com</strong> and we will try to make arrangements.
    <h2>Survey</h2>
    Please take our Madfest post-fest survey.
    <a href="https://goo.gl/forms/Ca1qeDN6ZP7r1ymJ3">https://goo.gl/forms/Ca1qeDN6ZP7r1ymJ3</a>
    <h2>3 Days of Juggling and Other Fun</h2>
    <div>
      <table>
        <tbody>
          <tr>
            <td align="center">
              <h2>Friday, Jan 12th 5pm-12pm</h2>
            </td>
          </tr>
          <tr>
            <td align="center">Open Juggling*
            Free Admission</td>
          </tr>
          <tr>
            <td>Madison Circus Space **
            2100 Winnebago
            Madison, WI 537(608) 241-863304</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
      <table>
        <tbody>
          <tr>
            <td align="center">
              <h2>Saturday Day, Jan 13th 10am-5pm</h2>
            </td>
          </tr>
          <tr>
            <td align="center">Open Juggling*, Workshops, Vendors
            Free Admission</td>
          </tr>
          <tr>
            <td>O'Keefe Middle School
            510 S Thornton Ave
            Madison, WI 53703</td>
          </tr>
          <tr>
            <td>Workshops:
              <ul>
                <li>11am - Crash: How to burp properly</li>
                <li>12pm - Curt Carlyle : Kickups -</li>
                <li>1pm - Chloe Somers : flexibility, handstand, multi hoops, or something else!</li>
                <li>2pm - Club Takeouts- Robert and Nick</li>
                <li>3pm - Clovers 101:How to juggle clover patterns. Prerequisite for Sunday's big pattern - Professor Mike, Melonhead &amp; Jeff Adamus</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
      <table>
        <tbody>
          <tr>
            <td align="center">
              <h2>Saturday SHOW, January 13 7:00pm</h2>
            </td>
          </tr>
          <tr>
            <td align="center">
              <h2>47th Annual Madfest Juggling Extravaganza</h2>
            </td>
          </tr>
          <tr>
            <td align="center">
              <h2>Barrymore Theatre</h2>
            </td>
          </tr>
          <tr>
            <td align="center">The show will be featuring:

            Wes Peden

            Chloe Somers

            Curt Carlyle

            Mike Wood

            Jacob D'Eustachio

            MC Mark Hayward

            and more TBA!</td>
          </tr>
          <tr>
            <td align="center">Get your tickets!!

            Tickets are $20 in Advance or $25 at the door.

            Online: <a href="http://www.barrymorelive.com/tickets/1801131.html">http://www.barrymorelive.com/tickets/1801131.html</a>

              Phone: (608) 241-8633

              Tickets can also be purchased at the following outlets:<a href="http://www.barrymorelive.com/_ticketoutlets.htm">http://www.barrymorelive.com/_ticketoutlets.htm</a>

              Facebook Page: <a href="https://www.facebook.com/events/129131027773859">https://www.facebook.com/events/129131027773859</a></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
      <table>
        <tbody>
          <tr>
            <td align="center">
              <h2>Saturday Renegade SHOW, January 13 ??pm</h2>
            </td>
          </tr>
          <tr>
            <td align="center">
              <h3>Madfest Renegade 30min after main show</h3>
            </td>
          </tr>
          <tr>
            <td>Renegade is semi-open mic for jugglers. Not for the under-age or innocent people. Free with ticket from Main show, Otherwise cover is $5</td>
          </tr>
          <tr>
            <td>Curt Carlyle is the MC</td>
          </tr>
          <tr>
            <td>Have an act or something to perform, send us an email at <strong>madjugglers (at) gmail (dot) com</strong></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
      <table>
        <tbody>
          <tr>
            <td align="center">
              <h2>Saturday Late Night, Jan 13th 10pm-2am</h2>
            </td>
          </tr>
          <tr>
            <td align="center">Open Juggling*
            Free Admission</td>
          </tr>
          <tr>
            <td>Madison Circus Space **
            2100 Winnebago
            Madison, WI 53704</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
      <table>
        <tbody>
          <tr>
            <td align="center">
              <h2>Sunday, Jan 14th 10am-4:30pm</h2>
            </td>
          </tr>
          <tr>
            <td align="center">Open Juggling*, Workshops, Vendors
            Free Admission</td>
          </tr>
          <tr>
            <td>O'Keefe Middle School
            510 S Thornton Ave
            Madison, WI 53703</td>
          </tr>
          <tr>
            <td>Workshops:
              <ul>
                <li>11am - Wes Peden Q&amp;A</li>
                <li>11:30am - Mike Wood: Comedy Writing</li>
                <li>12pm - Big Pattern [Hex of Clovers] <a href="http://madjugglers.com/Madfest2018/hexclover">Detail PDF</a></li>
                <li>12:30pm - Juggling Games</li>
                <li>1:30pm - Wes Peden: slapbacks workshop</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</template>
