<template>
  <section class="container">
    <div>
      <b-alert
        show
        variant="danger"
      >Due to the surge of COVID-19 cases we have decided to reschedule Madfest</b-alert>
      <h1 class="display-4">Rescheduled</h1>

<p>
With the current surge in COVID cases, made worse by the rapid spread of the highly contagious Omicron variant, the Madison Area Jugglers have decided to postpone MadFest 2022. 
This includes the 47th Annual MadFest Juggling Extravaganza, which was scheduled for Saturday, January 15, 2022 at the Barrymore Theatre.
</p>
<p>
The Jugglers and the Barrymore are working on rescheduling both MadFest 2022 and the Juggling Extravaganza for late Spring or early Summer 2022. 
We hope to have a new date for both events in the next few days. We will let you know as soon as the new dates are chosen.
</p>
<p>
All tickets for the January 15th performance will be honored at the new date, so please hold on to your tickets. 
If you are unable to attend the new date when it is announced or just want a refund, the Barrymore will take care of you. 
For more information or to obtain a refund, call the Barrymore at 241-8864, Monday thru Friday, from 12 noon to 5:00 pm.
</p>
<p>
The Jugglers and the <a href="https://barrymorelive.com/">Barrymore</a> want to thank <a href="https://www.wortfm.org/">WORT</a> and <a href="https://isthmus.com/">Isthmus</a> for their help promoting the event.
</p>

      <div>
        <p>Thank you to FlyingClipper and Flowtoys for donating to our raffle!  We will be rescheduling the raffle for the new date.</p>
      </div>
      <div class="row">
       <div class="d-none d-sm-block col col-sm-4 m-0">
         <a href="https://www.flyingclipper.com/ija">
          <b-img-lazy :srcset="require('~/static/Images/2022/flyingclipper.jpg').srcSet" style="margin-top: -20px;"  alt="FlyingClipper" fluid></b-img-lazy>  
        </a>
      </div>
       <div class="d-none d-sm-block col col-sm-4 m-0">
         <a href="http://flowtoys.com">
          <b-img-lazy :srcset="require('~/static/Images/2022/flowtoys.jpg').srcSet" style="margin-top: 5px;"   alt="Flowtoys" fluid></b-img-lazy>  
        </a>
      </div>
      </div>
    </div>
  </section>
</template>

<style>
.text-muted {
  color: #843925 !important;
}
</style>

<script>
export default {
  head() {
    return {
      title: 'Madfest 2022'
    }
  }
}
</script>
