<template>
  <section class="container">
    <div>
      <h1 class="display-4">47th Annual MADFEST 2024</h1>
      <h2>Presented by the Madison Area Jugglers</h2>
      <h3>January 12, 13, 14 2024</h3>
      <h3>3 Days of Juggling and Other Fun</h3>
      <p>
        Free Admission except for the Big Show at the Barrymore, you have to get
        a ticket to that.
      </p>
      <p>All skill levels are welcome.</p>

      <div>
        <b-card class="border border-primary">
          <b-card-title class="h3">Friday</b-card-title>
          <b-card-sub-title class="h5">Open Juggling*</b-card-sub-title>
          <p class="card-text">
            January 12 5pm - Midnight
            <br />Free Admission
            <br />You must sign a waiver for this location - <a href="https://madisoncircusspace.com/waiver">Waiver</a> must be signed in 2024
            <br />Workshop - 7-9pm Nervous System with Cyril Rabbath
            <br />Glow Prop Room with DJ 7-midnight
          </p>
          <p class="card-text">
            Madison Circus Space
            <br />2082 Winnebago St <br />Madison, WI 53704
          </p>
        </b-card>
      </div>

      <div>
        <b-card class="border border-primary">
          <b-card-title class="h3">Saturday (Daytime)</b-card-title>
          <b-card-sub-title class="h5"
            >Open Juggling*, Workshops, Vendors</b-card-sub-title
          >
          <p class="card-text">
            January 13 10am-4:45pm
            <br />Free Admission
            <br />
          </p>
          <p class="card-text">
            O'Keefe Middle School
            <br />510 S Thornton Ave <br />Madison, WI 53703
          </p>
          <ul>
            Workshops
            <li>Unicycle Hockey 2-4pm small gym (bring a uni)</li>
          </ul>
        </b-card>
      </div>

      <div class="row">
        <div class="col-lg">
          <b-card class="border border-primary">
            <b-row>
              <b-col>
                <b-card-title class="h3">Saturday (Night)</b-card-title>
                <b-card-sub-title class="h5"
                  >Show - 47th Annual Madfest Juggling
                  Extravaganzas</b-card-sub-title
                >
                <div class="float-left">
                  <p class="card-text">
                    January 13 7:00pm
                    <br />
                    <br />Tickets are $25 in Advance or $28 at the door.
                    <br />Online:
                    <a
                      href="https://barrymorelive.com/event/madfest-juggling-extravaganza-2024/"
                      >Click here for Tickets</a
                    >
                  </p>

                  <div class="card-text">
                    The show will be featuring:
                    <ul>
                      <li><a href="https://www.forwardband.org/">Forward Marching Band</a></li>
                      <li>
                        <a href="http://markhayward.net/">Mark Hayward</a>
                      </li>
                      <li>
                        <a href="https://www.delaneybayles.com/">Delaney Bayles</a>
                      </li>
                      <li>
                        <a href="https://cyrilrabbath.com/">Cyril Rabbath</a>
                      </li>
                      <li>
                        Kitty Kaos
                      </li>
                      <li>
                        <a href="https://www.fiascosideshow.com/">Brent Fiasco</a>
                      </li>
                      <li>
                        <a href="https://circustalk.com/news/developing-a-circus-organizational-system">Amanda Gatewood</a>
                      </li>
                      <li>
                        <a href="https://www.fanofhoop.com/">Anna Krueger</a>
                      </li>
                      <li>
                        <a href="https://lauraernst.com/">Laura Ernst</a>
                      </li>
                      <li>
                        Mad Jugglers
                      </li>
                    </ul>
                  </div>

                  <p class="card-text">
                    Barrymore Theatre
                    <br />2090 Atwood Ave. <br />Madison, WI 53704
                  </p>
                </div>
              </b-col>
			        <!-- <div class="col-lg d-none d-lg-block">
                <b-img-lazy
                  :srcset="require('~/static/Images/2024/madfest.jpg').srcSet"
                  src="~/static/Images/2024/madfest.jpg"
                  height="490"
                  width="320"
                  alt="Madfest Performance"
                  fluid
                ></b-img-lazy>
              </div> -->
            </b-row>
          </b-card>
        </div>
      </div>
	  <div>
        <b-card class="border border-primary">
          <b-card-title class="h3">Saturday (Late Night)</b-card-title>
          <b-card-sub-title class="h5"
            >Renegade, Open Juggling*</b-card-sub-title
          >
          <p class="card-text">
            January 13 9:30pm to midnight
            <br />Free Admission
            <br />You must sign a waiver for this location - <a href="https://madisoncircusspace.com/waiver">Waiver</a> to be signed in 2024
          </p>
          <p class="card-text">
            Madison Circus Space
            <br />2082 Winnebago St <br />Madison, WI 53704
          </p>
        </b-card>
      </div>

      <div>
        <b-card class="border border-primary">
          <b-card-title class="h3">Sunday</b-card-title>
          <b-card-sub-title class="h5"
            >Open Juggling*, Workshops, Vendors</b-card-sub-title
          >
          <p class="card-text">
            January 14 10am-4:00pm
            <br />Free Admission
            <br />Sunday Noon there will be a big pattern with a Drum Circle
            <br />
            <br />Additional workshops TBD
          </p>
          <p class="card-text">
            O'Keefe Middle School
            <br />510 S Thornton Ave <br />Madison, WI 53703
          </p>
          <ul>
            Events
            <li>12am Big Pattern with a drummer</li>
            <li>2pm Eyes Closed Juggling with Cyril</li>
            <li>2-4pm Unicycle Hockey small gym (bring a uni)</li>
            
          </ul>
        </b-card>
      </div>
      <div>
        <br />
        <h3>Housing Options:</h3>
        <p>Please note there is something going on in town and hotels are booking up.  We have created a Facebook group for people to connect on shared housing for the event.</p>
        <p><a href="https://www.facebook.com/groups/3114254352232303/">Crashpad connection</a></p>
        <p><a href="https://g.page/hotel-indigo-madison-downtown?share">Closest hotel</a></p>
        <p><a href="https://www.airbnb.com/a/stays/Madison--Wisconsin--United-States?c=.pi0.pk475441696_41645801185&localized_ghost=true">Airbnb</a> has some nice options as well</p>


      </div>
      <div>
        <h3>Other info:</h3>
        <ul>
          <li>
            By attending Madfest you agree to follow the
            <a href="/madfest/conduct">Madfest Code of Conduct</a>.
          </li>
		  <li>
            No pets
          </li>
          <li>
            * MadFest Open Juggling is substance free. Do not attend if you are
            under the influence of drugs or alcohol.
          </li>
        </ul>
      </div>
    </div>
  </section>
</template>

<style>
.text-muted {
  color: #843925 !important;
}
</style>

<script>
export default {
  head() {
    return {
      title: 'Madfest 2024',
    }
  },
}
</script>
