<template>
  <section class="container">
    <div>
      <h1>47th Annual MADFEST</h1>
      <hr>
      <h2>Thanks for making it a great Festival!</h2>

      <p>The festival is always scheduled in January for the weekend of Martin Luther King Jr. Day.</p>
      <p>We will post information for Madfest 2020 here when we have next years venue reserved.</p>

      <h2>Survey</h2>Please take our Madfest post-fest survey.
      <a
        href="https://goo.gl/forms/M8Q8ZklOAvkXnwK13"
      >https://goo.gl/forms/M8Q8ZklOAvkXnwK13</a>

    </div>
  </section>
</template>

<script>
export default {
  head() {
    return {
      title: 'Madfest'
    }
  }
}
</script>

<style>
.text-muted {
  color: #843925 !important;
}
</style>
